
.h1main{
    font-weight: Italic;
    font-family: 'Oswald';font-size:20px;
    width: 27%;
    height: 85%;
    margin-left: 16%;
    margin-top: 2%;
    float: left;
}
h1.cat{
    font-weight: Italic;
    font-family: 'Lucida Handwriting';font-size:50px;
    text-align: center;
    background-color: grey;
}

.logo{
    margin: 100px 58% 50px 0px;
    position: absolute;
    border: solid black;
    border-radius: 50%;
    background-image: url(logo3.jpeg);
    background-size: cover;
    width: 120px;
    height: 120px;
}
a.log{
    text-decoration: none;
    width: 115px;
    height: 35px;
    background-color: khaki;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 8px;
    text-align: center;
    margin: 30px;
}
.containermain{
    width: 100%;
}
.navmain{
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    font-family: monospace;
}
.navmain>ul{
    width: 30%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-left: 60%;
    padding: 10px;
}
.navmain>ul>li{
    margin-top: 20px;
    cursor: pointer;
    display: inline;
    border-bottom: 2px solid black;
    padding-bottom: 3px;
    transition: 0.5s;
}
.navmain>ul>li>a{
    text-decoration: none;
    font-family: monospace;
    height: 35px;
    width: 115px;
    font-size: 19px;
    color: white;
    margin: 30px 0px 0px 0px;
    box-shadow: 15px 15px 35px 10px #88888898;
    cursor: pointer;
    transition: 0.5s;
    border: none;
    border-radius: 5px;
    padding: 3px;
    background-color: #333;
}
.navmain>ul>li>a:hover{
    color: darkslategray;
    font-size: 16px;
    border-bottom: 1px solid darkslategrey;
    transition: 0.5s;
}
li ul li a{
    text-decoration: none;
    font-family: monospace;
    font-size: 19px;
    color: black;
}
ul li ul.dropdown li{
    display: block;
}
ul li ul.dropdown{
    width: 10%;
    background: burlywood;
    position: absolute;
    z-index: 999;
    display: none;
    border-radius: 10px;
    text-align: center;
}
ul li a:hover{
    background-color: aliceblue;
}
ul li:hover ul.dropdown{
    display: block;
}

.showD{
    width: 100%;
    height: 20.5rem;
}
.left{
    float: left;
    width: 27%;
    height: 85%;
    margin-left: 16%;
    margin-top: 2%;
}
button.buy{
    width: 115px;
    height: 35px;
    background-color: black;
    color: white;
    font-size: 19px;
    border: none;
    border-radius: 5px;
    margin: 30px 0px 0px 0px;
    box-shadow: 15px 15px 35px 10px #88888898;
    cursor: pointer;
    transition: 0.5s;
}
button.buy:hover{
    width: 120px;
    height: 38px;
    background-color: #172020;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 15px 15px 35px 10px #888888;
}
.right{
    float: right;
    width: 50%;
    height: 100%;
    background-color: rgba (252, 252, 252, 0.65);
    border-radius: 350px 0px 0px 0px;
}
.meaning{
    width: 80%;
    height: 90%;
    margin-left: 25px;
}
.showM{
    width: 100%;
    height: 15.5rem;
    background-color: burlywood;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 60px;
}
.showM strong{
    color: #ed0808;
}
.showM span{
    text-decoration: line-through;
}
.showM>div{
    cursor: pointer;
    position: relative;
    width: 15%;
    height: 50%;
    border-radius: 15px;
    background-color: aliceblue;
}
.showM>div>img{
    position: absolute;
    width: 65%;
    height: 100%;
    margin: -27% 17%;
    transition: 0.5s;
}
.showM>div:hover img{
    position: absolute;
    width: 80%;
    height: 100%;
    margin: -27% 10%;
}
.showM>div>.info{
    text-align: center;
    position: absolute;
    right: 10px;
    left: 10px;
    bottom: 0%;
    height: 55px;
}

h2.main{
    font-weight: bold;
    line-height: 1.2em;
    border-width: thick;
    border-style: solid;
    border-color: black;
    text-align: center;
    padding: 30px;
    background-color: #e5e4d7;
}
h3{
    font-weight: Italic;
    font-family: 'Oswald';
    font-size: 20px;
    color: brown;
    background-color: #e5e4d7;
    padding: 10px;
    width: 30%;
    border: solid black;
}

.bodymain{
    font-family: sans-serif;
    font-weight: normal;
    background-color: aliceblue;
}


p.paragraph1 {
    font-size: 25px;
    line-height: 1.5em;
    background-color: #e5e4d7;
    padding: 50px;
    border-color: black;
    border-width: thick;
    border-style: double;
    margin-left: 900px;
    line-height: 1.5em;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
    p.paragraph2 {
        font-size: 25px;
        line-height: 1.5em;
        background-color: #e5e4d7;
        padding: 50px;
        border-color: black;
        border-width: thick;
        border-style: double;
        margin-left: 600px;
        line-height: 1.5em;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
}
#para2homepage{
    font-size: 25px;
    line-height: 1.5em;
    background-color: #8B4513;
    padding: 50px;
    border-color: black;
    border-width: thick;
    border-style: solid;
    line-height: 1.5em;
    border-radius: 10px;
    text-align: center;
    margin-right: 500px;
    background-image: url(backg.jpeg);
}
#divmain{
    color: black;
}
.highlight{
    color: red;
}
#divabout{
    color: black;

}
p.paragraph4 {
    color: black;
    font-size: 25px;
    line-height: 1.5em;
    background-color: #e5e4d7;
    padding: 50px;
    border-color: black;
    border-width: thick;
    border-style: solid;
    line-height: 1.5em;
}
#nav a.cat:hover {
    color: black;
    background-color: #d3d3d3;
}
a.cat:link{
    color: blue;
}
a.cat:visited{
    color: purple;
}
a.cat:hover{
    color: #F15A51;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
#navcat li a{
    color: white;
    text-decoration: none;
    font-family: monospace;
    background-color: brown;
    display: flex;
    width: 80px;
    height: 25px;
    margin: 10px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 2px;
    line-height: 25px;
}
#navcat a:hover{
    cursor: none;
    width: 80px;
    height: 30px;
    background-color: black;
    font-size: 15px;
    border-radius: 10px;
    position: relative;
}
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

#about {
    background-color: lightblue;
    color: #333;
    padding: 50px 20px;
}

#about .about {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

#about h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #444;
}

#about p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

#about strong {
    color: #007BFF; /* Accent color */
}
footer{
    background-color: #111;
}
.footercon{
    width: 100%;
    padding: 70px 30px 20px;
}
.socicon{
    display: flex;
    justify-content: center;
}
.socicon a{
    text-decoration: none;
    padding: 10px;
    background-color: aliceblue;
    margin: 10px;
    border-radius: 50%;
}
.socicon a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}
.socicon a:hover{
    background-color: #111;
    transition: 0.5;
}
.socicon a:hover i{
    color: white;
    transition: 0.5s;
}
.footnav{
    margin: 30px 0;
    text-align: center;
}
.footnav ul{
    display: flex;
    justify-content: center;
}
.footnav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 20px;
    opacity: 0.7;
    transition: 0.5s;
    
}
.footnav ul li a:hover{
    opacity: 1;
}
.footbot{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footbot p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0 5px;
}